/*CSS Styling Sheet for the website*/
<style>
body {
  font-family: "Lato", sans-serif;
}

#darkcyan {
  background-color: #008B8B; /* darkcyan */
  border: none;
  font-weight: bold;
  color: white;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

#summary{
  font-weight: bold;
  color: darkcyan;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  
}

#bg {
  background-color: #00834B;

}


</style>
